body {
  margin: 0;
  padding: 0 1em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

a {
  color: #00B7FF;
}

.waveform-container {
  max-width: 100%;
  width: 800px;
}
.waveform-bg {
  clip-path: url("#waveform-mask");
  fill: solid black;
}
.waveform-progress {
  clip-path: url("#waveform-mask");
  fill: salmon;
}
