body {
	margin: 0;
	font-family: "Titillium Web";
	font-size: 15px;
}

#container {
	width: 650px;
	margin: 60px auto;
}

#upload-choose-container {
}

button {
	background-color: white;
	color: #336699;
	border: 2px solid #336699;
	font-family: inherit;
	outline: none;
	min-width: 100px;
	padding: 5px 10px;
	font-size: inherit;
	border-radius: 2px;
	cursor: pointer;
}

#choose-upload-button {
	display: block;
	margin: 0 auto;
}

#upload-file-final-container {
	display: none;
	text-align: center;
}

#file-name {
	color: #336699;
	display: inline-block;
	vertical-align: middle;
}

#upload-button {
	display: inline-block;
	vertical-align: middle;
	margin: 0 30px;
}

#cancel-button {
	display: inline-block;
	vertical-align: middle;
	color: #777777;
	border: 2px solid #777777;
}

#upload-progress {
	margin: 20px 0 0 0;
	text-align: center;
	display: none;
}

#error-message {
	display: none;
	text-align: center;
	color: #c0392b;
	margin: 20px 0 0 0;
}

#get-data-container{
  display:none;
}


